/* style.css */

/* 공통 스타일 */
body, html {
    height: 100%;
    margin: 0;
  }
  
  .container {
    height: 100%;
    display: flex;
    flex-direction: column; /* 위에서 아래로 정렬 */
  }
  
  .box {
    flex-grow: 1;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    color: white;
  }
  
  /* Adjust box height according to color scale */
  .box-1 {
    height: 10%; /* 높이로 변경 */
    background-color: rgb(206, 33, 33);
    position: relative; /* 부모 요소를 기준으로 자식 요소를 배치하기 위해 추가 */
  }
  
  /* Divide the 70% area in half in the middle */
  .box-2 {
    height: 70%; /* 높이로 변경 */
    background-color: rgb(35, 35, 190);
    display: flex;
    flex-direction: row; /* 왼쪽과 오른쪽으로 정렬 */
  }
  
  /* 왼쪽 50% */
  .box-2-left {
    flex-grow: 1;
    background-color: rgba(48, 134, 70, 0.5); /* 반투명 스타일로 표시 */
  }
  
  /* 오른쪽 50% */
  .box-2-right {
    flex-grow: 1;
    background-color: rgba(192, 30, 233, 0.5); /* 반투명 스타일로 표시 */
  }
  
  /* Divide the 20% area into three on both sides */
  .box-3 {
    height: 20%; /* 높이로 변경 */
    background-color: green;
    display: flex;
    flex-direction: row; /* 왼쪽과 오른쪽으로 정렬 */
  }
  
  /* 왼쪽 33.33% */
  .box-3-left {
    flex-grow: 1;
    background-color: rgba(0, 128, 128, 0.5); /* 반투명 스타일로 표시 */
  }
  
  /* 중앙 33.33% */
  .box-3-middle {
    flex-grow: 1;
    background-color: rgba(255, 165, 0, 0.5); /* 반투명 스타일로 표시 */
  }
  
  /* 오른쪽 33.33% */
  .box-3-right {
    flex-grow: 1;
    background-color: rgba(128, 0, 128, 0.5); /* 반투명 스타일로 표시 */
  }
  
  /* Additional styles go here. */
  
  /* 로고 이미지 스타일 조정 */
  .box-1 img {
    max-height: 100%; /* 로고 이미지가 10% 영역을 넘지 않도록 최대 높이 설정 */
    max-width: 100%; /* 로고 이미지의 최대 너비 설정 */
    display: block; /* 이미지가 다른 요소들과 정상적으로 정렬되도록 설정 */
    margin: 0 auto; /* 이미지를 수평 가운데로 정렬 */
  }
  
  /* 로그인 버튼 스타일 조정 */
  .login-button {
    text-decoration: none;
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    margin-left: auto; /* 로그인 버튼을 오른쪽으로 이동시킴 */
  }
  
  /* 로그아웃 버튼 스타일 조정 */
  .logout-button {
    position: absolute;
    top: 50%; /* 로그인 버튼의 중앙에 배치 */
    right: 10px;
    padding: 5px 10px;
    font-size: 16px;
    line-height: 20px;
    transform: translateY(-50%); /* 세로 중앙 정렬을 위해 요소의 높이의 반만큼 위로 이동 */
  }
  