/* 공통 스타일 */
body, html {
  height: 100%;
  margin: 0;
}

.container {
  height: 100%;
  display: flex;
  flex-direction: column; /* 위에서 아래로 정렬 */
}

.box {
  flex-grow: 1;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  color: rgb(0, 0, 0);
}

/* 색상에 따라 상자 높이 조정 */
.box-1 {
  height: 10%; /* 높이로 변경 */
  background-color: rgb(255, 255, 255);
  position: relative; /* 자식 요소를 부모 요소를 기준으로 배치하기 위해 추가 */
  border: black 1px solid;
}

/* Divide the 70% area in half in the middle */
.box-2 {
  height: 70%; /* 높이로 변경 */
  background-color: rgb(255, 255, 255);
  display: flex;
  flex-direction: row; /* 왼쪽과 오른쪽으로 정렬 */
}

/* left 50% */
.box-2-left {
  flex-grow: 1;
  background-color: rgb(255, 255, 255); /* 반투명 스타일로 표시 */
  border: black 1px solid;
}

/* Right 50% */
.box-2-right {
  flex-grow: 1;
  background-color: rgb(255, 255, 255); /* 반투명 스타일로 표시 */
  border: black 1px solid;
}

/* Divide the 20% area into three on both sides */
.box-3 {
  height: 20%; /* 높이로 변경 */
  background-color: rgb(255, 255, 255);
  display: flex;
  flex-direction: row; /* 왼쪽과 오른쪽으로 정렬 */
}

/* Left 33.33% */
.box-3-left {
  flex-grow: 1;
  background-color: rgba(255, 255, 255, 0.5); /* 반투명 스타일로 표시 */
  border: black 1px solid;
}

/* center 33.33% */
.box-3-middle {
  flex-grow: 1;
  background-color: rgba(255, 255, 255, 0.5); /* 반투명 스타일로 표시 */
  border: black 1px solid;
}

/* Right 33.33% */
.box-3-right {
  flex-grow: 1;
  background-color: rgba(255, 255, 255, 0.5); /* 반투명 스타일로 표시 */
  border: black 1px solid;
}

/* 로고 이미지 스타일 조정 */
.box-1 img {
  max-height: 100%; /* 로고 이미지가 10% 영역을 넘어가지 않도록 최대 높이 설정 */
  max-width: 100%; /* 로고 이미지가 10% 영역을 넘어가지 않도록 최대 너비 설정 */
  display: block; /* 이미지를 다른 요소와 정렬하기 위해 블록 요소로 설정 */
  margin: 0 auto; /* 이미지를 수평으로 가운데로 정렬 */
}

/* 로그인 버튼 스타일 조정 */
.login-button {
  text-decoration: none;
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  margin-left: auto; /* 로그인 버튼을 오른쪽으로 이동 */
}

/* 로그아웃 버튼 스타일 조정 */
.logout-button {
  position: absolute;
  top: 50%; /* 로그인 버튼을 수직으로 가운데로 이동 */
  right: 10px;
  padding: 5px 10px;
  font-size: 16px;
  line-height: 20px;
  transform: translateY(-50%); /* 요소의 높이의 절반만큼 위로 이동하여 수직 가운데 정렬 */
}